.Dragable {
    position: absolute;
    will-change: transform;
}

.PuzzlePieceBorderHighlight {
    filter: drop-shadow(2px 2px rgb(43, 196, 43))
            drop-shadow(-2px -2px rgb(43, 196, 43));
}

.PuzzleWindow {
    border-top: 10px;
    border-left: 30px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    padding: 5rem 0rem 40rem 2rem;
    width: fit-content;
    block-size: fit-content;
    border-image-slice: 1;
    text-align: justify;
}

.PuzzleMock {
    border-top: 10px;
    border-left: 30px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    padding: 5rem 0rem 40rem 2rem;
    width: 100%;
    height: 100%;
    border-image-slice: 1;
}

.border-gradient {
    border-image-source: linear-gradient(to bottom right, #212529, #22262a);
}


.Focused {
    position: relative;
    z-index: 10;
}

* {user-select: none}